<form action="/figures" method="post">
  <input type="text" name="figure[name]" placeholder="Name" id="figure_name"><br>

  <% @titles.each do |t| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= t.id %>" id="title_<%=t.id%>"><%= t.name %></input>
  <% end %>
  <br>

  <p>Create New Title</p>
  <input type="text" name="title[name]"><br>

  <% @landmarks.each do |l| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= l.id %>" id="title_<%=t.id%>">><%= l.name %></input>
  <% end %>
  <br>
  <p>Create New Landmark</p>
  <input type="text" name="landmark[name]"><br>
  <input type="submit" value="Create New Figure">
</form>
